<!doctype html>
<html id="dashboard">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
  <!--[if lte IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="container-fluid">

      <div class="col-md-4"  >
          <a class="btn btn-large btn-primary" href="../views/index.html" style="margin:45px;font-size:2.5em;"><i class="glyphicon glyphicon-arrow-left"></i> Retour</a>

      </div>
      <!-- First row with the sequence -->
      <!-- <button id="close" class="closing" onClick="javascript:close_clip()"><img src="icons/close.png" /></button>
      -->
      <div class="row" id="sequence">
          <div class="col-md-3"  >
              <img src="../images/non.png" class="reponseImage" id="non" align="left">
              <img src="../images/seq1.png" class="image" id="true_image1" align="right">
          </div>
          <div class="col-md-3" >
              <img src="../images/seq2.png" class="image" id="true_image2" align="middle" style="margin-left:50px">
          </div>
          <div class="col-md-3" >
              <img src="../images/seq3.png" class="image" id="true_image3" align="middle" style="margin-right:50px">
          </div>
          <div class="col-md-3">
              <img src="../images/seq4.png" class="image" id="true_image4" align="left">
              <img src="../images/oui.png" class="reponseImage" id="oui" align="right">
          </div>
      </div>

      <!-- Seconde row with the soufle sequence -->

      <div class="row" id="sequence2">
          <div class="col-md-3"  >
              <img src="../images/ballon1.png" class="image" id="image1" align="right" onClick="verification(this)" >
          </div>
          <div class="col-md-3" >
              <img src="../images/ballon2.png" class="image" id="image2" align="middle" onClick="verification(this)" style="margin-left:50px">
          </div>
          <div class="col-md-3" >
              <img src="../images/ballon3.png" class="image" id="image3" align="middle" onClick="verification(this)" style="margin-right:50px">
          </div>
          <div class="col-md-3">
              <img src="../images/ballon4.png" class="image" id="image4" align="left"  onClick="verification(this)">
          </div>
      </div>
  </div> <!-- div container -->
    <script type="text/javascript" src="../sequences.json"></script>
    <script src="../scripts/game.js"></script>
  <!-- endbuild -->
  </body>
</html>
