<!doctype html>
<html id="dashboard">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
  </head>


  <div class="container-fluid" id="menuDashboard">

      <div class="row" >
        <div class="col-md-4"  >
            <img src="../images/rain1.png" id="image" align="right">
        </div>
         <div class="col-md-4"  >
            <!--img src="images/chronos.png" id="chronos" align="center"-->
            <div id="chronos">CHRONOS
            </div>
        </div>
        <div class="col-md-4"  >
            <img src="../images/rain3.png" id="image" align="left">
              <a class="btn btn-large btn-danger" href="#" id="quitter"> QUITTER </a>
        </div>

      </div>

      <div class="row" >
        <div class="btn-group-vertical"  >
          <a class="btn btn-large btn-primary" href="views/niveau0.html" style="margin-top:50px;font-size:3.8em;"> NIVEAU 0 </a>
          <a class="btn btn-large btn-primary" href="#" style="margin-top:20px;font-size:3.8em;"> NIVEAU 1 </a>
          <a class="btn btn-large btn-primary" href="#" style="margin-top:20px;font-size:3.8em;"> NIVEAU 2 </a>
          <a class="btn btn-large btn-primary" href="#" style="margin-top:20px;font-size:3.8em;"> NIVEAU 3 </a>
        </div>
      </div>

    </div> <!-- div container -->


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
